<div class="generate_options collapse border border-dark rounded">
  <form class="generate_password">
    <div class="form-group">
      <label for="password_length">Password Length</label>
      <input type="range" class="password_length custom-range"  min="8" max="20" /><span class="length_span">14</span>
    </div>
    <div class="form-check form-check-inline">
      <input class="includeNumbers form-check-input" type="checkbox"  value="includeNumbers" />
      <label class="form-check-label" >Include Numbers</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="includeSymbols form-check-input" type="checkbox"  value="includeSymbols" />
      <label class="form-check-label" for="includeSymbols">Include Special Characters</label>
    </div>
    <div class="form-group">
      <button class="submitGenerate btn btn-light btn-sm" form="generate_password" type="submit">
        GENERATE
      </button>
    </div>
  </form>
</div>
</form>
</div>
