<%- include('partials/_header') %> <%- include('partials/_navbar') %>
<div id="landing">
  <div>
    <section>
      <div id="key"></div>
      <span>Store, modify and distribute passwords</span>
    </section>
    <section>
      <div id="shield"></div>
      <span>Keep passwords secure</span>
    </section>
    <section>
      <div id="idea"></div>
      <span>Improve efficiency within your organization</span>
    </section>
  </div>
</div>

<%- include('partials/_footer') %>
