<%- include('partials/_header') %> <%- include('partials/_navbar') %>
<div id="landing">
  <div>
    <section>
      <div id="key"></div>
      <span>Store passwords</span>
    </section>
    <section>
      <span> </span>
    </section>
    <section>
      <span> </span>
    </section>
  </div>
</div>

<%- include('partials/_footer') %>
