// See: https://sass-lang.com/

body {
  background-color: #eee;
  padding-top: 60px;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Catamaran', sans-serif;
  font-family: 'Montserrat', sans-serif;

  .not-logo {
    color: #244751;
  }
}

.container {
  padding-top: 40px;
}






