// See: https://sass-lang.com/

body {
  background-color: #eee;
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif;

  .not-logo {
    color: #244751;
  }
}

.container {
  margin-top: 6em;
}

.card {
  border: 1px solid rgba(0,0,0,.125)
}

.card-footer {
  // border: 1px solid rgba(0,0,0,.125);
  // border-bottom: none;
  // background-color: rgba(0,0,0,.03);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.048), transparent 70%);
  // background: linear-gradient(to left, rgba(0,0,0,.03), transparent 10%);
}



// .pwd-card {
//   background-clip: content-box;
// }




