// See: https://sass-lang.com/

body {
  background-color: #eee;
  padding-top: 60px;
  font-family: "Montserrat", sans-serif;

  .not-logo {
    color: #244751;
  }
}

.container {
  margin-top: 6em;
}

.new-org {
  margin-top: 8em;
  label {
    font-size: 1.2em;
  }
}