.modal-body {
  text-align: center;
  div {
    padding: 0.4em 0em;
    > .copy {
      color: white;
      font-size: 1.2em;
    }
    > .change {
      color: white;
      margin-top: 1em;
    }
  }
  .change_generate > .passGen,
  #generate_password {
    color: white;
  }
}

.modal-header {
  margin: 0 auto;
}

.pwd-img {
  width: 100px;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.pwd-card {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#generate_password {
  margin-top: 1.5em;
}

.copy {
  margin-top: 5px;
  margin-bottom: 5px;
}

.change_generate {
  margin-top: 5px;
  display: none;
}

.change_generate input[type="checkbox"] {
  margin-right: 20px;
}

object {
  position: relative;
  float: left;
  display: block;
  width: 100px;
  margin: auto;
}

object::after {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  content: "";
  background-image: url("https://i.pinimg.com/originals/88/73/6f/88736f07866842e65214827bc30a3256.png");
  background-size: 100px 100px;
}

.modal .pwd-img {
  margin-left: 50px;
}

.hidden {
  display: none;
}

#filter-options {
  span {
    margin-left: 10px;
    margin-right: 20px;
  }
}

.card-footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.082), transparent 80%);
  color: white;
}

.modal-footer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.082), transparent 80%);
}

.dropdown-item {
  width: 93%;
}

.pwned-major {
  background-color: mistyrose !important;
}

.pwned-moderate {
  background-color: rgb(255, 238, 225) !important;
}

.pwned-minor {
  background-color: ivory !important;
}
